<div class="container">
    <div #whiteboard class="whiteboard">
        <textarea
            *ngFor="let item of items" 
            class="{{ item.type }}"
            id="{{ item.id }}"
            cdkDragDisabled="{{ !item.active || item.editmode }}"
            cdkDrag
            [style.left.px]="item.x"
            [style.top.px]="item.y"
            cdkDragBoundary=".whiteboard"
            (cdkDragStarted)="dragStart($event)"
            (cdkDragEnded)="dragEnd($event)"
            [value]="item.text"
            (input)="editItem($event)"
        ></textarea>
    </div>
    <div class="toolz-container">
        <div class="toolz">
            <div
                class="box box-toolz"
                cdkDrag
                cdkDragBoundary=".whiteboard"
                (cdkDragEnded)="dragEndNew($event, 'box')"
            >New Note</div>
            <div
                class="box box-blue box-toolz"
                cdkDrag
                cdkDragBoundary=".whiteboard"
                (cdkDragEnded)="dragEndNew($event, 'box box-blue')"
            >New Note</div>
        </div>
    </div>
</div>
