* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 20px;
    background-color: #eee;
}

.whiteboard {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 800px;
    border: dotted #888;
    background-color: #fff;
}

.box {
    font-size: 1em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 1px #c8cf8c;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    background-color: #f8ffbc;
    z-index: 1;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.cdk-drag-disabled {
    background-color: #c8cf8c;
    transition: left 200ms ease-in-out, top 200ms ease-in-out;
}

.box-blue {
    background-color: #c3bcff;
    border: solid 1px #928ccf;
}

.box-blue.cdk-drag-disabled {
    background-color: #928ccf;
    transition: left 200ms ease-in-out, top 200ms ease-in-out;
}

.box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.toolz-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.toolz {
    background-color: white;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 4px;
    max-height: 70px;
}

.box-toolz {
    position: static;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: none;
}

.box-toolz:active {
    width: 200px;
    height: 200px;
    margin-right: -140px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1), width 400ms, height 400ms, margin-right 400ms;
}
